@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

#__next {
  height: inherit;
}

.form-input {
  @apply border border-gray-600 border-opacity-70 rounded-md px-4 py-2;

  &:focus {
    @apply border-transparent outline-none ring-2 ring-blue-500;
  }
}

.register-button {
  @apply block w-full bg-blue-500 px-4 py-2 rounded-md text-lg text-white;

  &:focus {
    @apply border-transparent outline-none bg-opacity-90;
  }
}

.login-button {
  @apply bg-green-600 px-4 py-2 rounded-md text-lg text-white;

  &:focus {
    @apply border-transparent outline-none bg-opacity-90;
  }
}

.register-cover {
  min-width: 280px;
  max-width: 280px;
  background: url('/images/register-bg.jpg') top center;
  background-size: cover;
  @apply h-full p-10 rounded-md;
}